*{
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    box-sizing: border-box;
}
.flex__container{
    overflow: hidden;
}
a{
    text-decoration: none;
}
.index__body{
    background-image: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)), url(./img/torneo\ mortal\ background.png);
    background-size: 80%;
    animation: movimiento 40s linear infinite ;
} 
.flex__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
   /*  height: 940px; */
}
.titulo__index img{
    width: 800px;
    margin-bottom: 20px;
}

/* LOGO TORNEO MORTAL */
.logo__index{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 650px;
    margin-left: 40px;
}
.logo{
    filter:contrast(1);
    transform: scale(1);
    transition: 0.7s;
}
.logo__index img:hover{
    filter:contrast(1.5);
    transform: scale(1.05);
    transition: 0.7s;
/*     background-color:rgba(22, 22, 22, 0.349) ;
    box-shadow: 10px 10px 5px 800px rgba(22, 22, 22, 0.349); */
}

/* .logo__index:hover{
    background-color:rgba(22, 22, 22, 0.349) ;
    box-shadow: 10px 10px 5px 800px rgba(22, 22, 22, 0.349);
    transition: 1s;

} */
.logo__index img{
    width: 90%;
    height: 90%;
}

@keyframes movimiento{
    form{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}

/* HOME */
.home_body{
    background-image: url(./img/torneo\ mortal\ background\ logo.png);
    background-size: 100%;
    max-width: 100%;
}
.felx_container_arcade{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;

}
.arcade_container{
    background-image: url(./img/arcade\ front.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    max-width: 950px;
    height: 965px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.video{
    width: 360px;
    height: 253px;
    border-radius: 25px;
}
.logo__torneo__mortal{
    filter:contrast(1);
    transform: scale(1);
    transition: 0.7s;
}
.logo_arcade{
    width: 320px;
    max-width: 100%;
}

.texto_container{
    width: 18%;
}
.texto_arcade{
    font-family: 'Koulen', cursive;
    text-align: center;
    color: wheat;
    font-size: 65px;
    max-width: 100%;
    max-height: 100%;
    line-height: 50px;
}
.font_2{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    max-width: 100%;
    max-height: 100%;
}

.redes_container{
    flex-direction:row;
    width: 400px;
    color:#f5deb3;
    font-size: 35px;
    bottom: 217px;
    margin: 84px 186px 23px 175px;
    text-align: end;
}

i{
    color:#f5deb3;
    margin: 10px;
}
i:hover{
    color:#ff866e;
}
.logo__torneo__mortal:hover{
    filter:contrast(1.5);
    transform: scale(1.05);
    transition: 0.7s;
}
/* RESPONSIVE */
@media screen and (max-width:1366px){
    .arcade_container {
        background-image: url(./img/arcade\ front.png);
        background-repeat: no-repeat;
        background-size: 630px;
        background-position: top;
        max-width: 886px;
        height: 657px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:1024px){
        .logo__torneo__mortal {
            width: 560px;
            padding: 10px;
    }
    .texto_container{
        padding: 10px;
    }
    .texto_arcade{
        font-size: 50px;
    }
    .font_2{
        font-size: 21px;
    }
    .redes_container {
        width: 214px;
        color: rgb(245, 222, 179);
        font-size: 28px;
        margin: 59px 181px -80px 290px;
        text-align: end;
    } 
    i{
        color:#f5deb3;
        margin: 10px;
    }
    .video {
        width: 300px;
        height: 214px;
        border-radius: 25px;
    }
}
@media screen and (max-width:768px){
    .felx_container_arcade{
        flex-wrap: wrap;
    }
    .texto_container {
        margin-top: 32px;
        padding: 18px;
        width: 41%;
        border: solid 4px bisque;
    }
}
@media screen and (max-width:425px){
    .arcade_container {
        background-size: 550px;
        width: 425px;
    }
    .texto_container {
        margin-top: 32px;
        padding: 18px;
        width: 300px;
        border: solid 4px bisque;
    }
    .video {
        width: 270px;
        height: 195px;
        border-radius: 25px;
    }
    .redes_container {
        flex-direction: row;
        width: 400px;
        color: #f5deb3;
        font-size: 23px;
        bottom: 217px;
        margin: 56px 254px 24px 108px;
        text-align: end;
    }
    i {
        margin: 0px -3px 13px 20px;
    }
}
@media screen and (max-width:320px){
    .arcade_container {
        background-image: url(./img/arcade\ front.png);
        background-repeat: no-repeat;
        background-size: 415px;
        background-position: top;
        width: 320px;
    }
    .video {
        width: 201px;
        height: 146px;
        border-radius: 25px;
    }
    .redes_container {
        flex-direction: row;
        width: 400px;
        color: #f5deb3;
        font-size: 18px;
        bottom: 217px;
        margin: 38px 238px 172px 29px;;
        text-align: end;
    }
    i {
        margin: 0px -3px 13px 15px;
    }
    .texto_container {
        margin-top: -100px;
        padding: 18px;
        margin: -100px 10px 15px 10px;
        width: 100%;
        border: solid 4px bisque;
    }
}

