*{
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    box-sizing: border-box;
}
.flex__container{
    overflow: hidden;
}
a{
    text-decoration: none;
}
.index__body{
    background-image: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)), url(./img/torneo\ mortal\ background.png);
    background-size: 80%;
    animation: movimiento 40s linear infinite ;
} 
.flex__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    height: 940px;
}
.titulo__index img{
    width: 800px;
    margin-bottom: 20px;
}

/* LOGO TORNEO MORTAL */
.logo__index{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 650px;
    margin-left: 40px;
}
.logo{
    filter:contrast(1);
    transform: scale(1);
    transition: 0.7s;
}
.logo__index img:hover{
    filter:contrast(1.5);
    transform: scale(1.05);
    transition: 0.7s;
/*     background-color:rgba(22, 22, 22, 0.349) ;
    box-shadow: 10px 10px 5px 800px rgba(22, 22, 22, 0.349); */
}

/* .logo__index:hover{
    background-color:rgba(22, 22, 22, 0.349) ;
    box-shadow: 10px 10px 5px 800px rgba(22, 22, 22, 0.349);
    transition: 1s;

} */
.logo__index img{
    width: 90%;
    height: 90%;
}

@keyframes movimiento{
    form{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}

/* HOME */
.home_body{
    background-color: rgb(5, 5, 5);
    background-size: 80%;
}

.arcade_container{
    align-items: center;
    justify-content: center;
    display: flex;
    border: solid green;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 4px;
}
.arcade_container img{
    max-width: 900px;
    max-height: 950px;
}
.arcade_img{
    border: solid orange;
}
.video{
    margin-left: -9px;
    top: 288px;
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 50px;
}